@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

/* ----------------- *
 * Default styles    *
 * ----------------- */

body {
    margin: 0;
    background: #2f2d2e;
    font-family: 'Montserrat', sans-serif;
    padding: 0;
}

html,
body,
#root {
    height: 100%;
}

body * {
    outline: none;
}

/* ----------------- *
 * Loader styles     *
 * ----------------- */

@keyframes spinning {
    from {
        transform: rotate(360deg);
    }

    to {
        transform: rotate(0deg);
    }
}

div.loader.loading {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border: 10px black dashed;

    animation: 1s spinning infinite;
    transition: 200ms;
}

#root > .loading::after {
    opacity: 0;
}

.loader-container-enter {
    opacity: 0;
}

.loader-container-enter-active {
    opacity: 1;
    transition: 1s;
}

.loader-container-exit {
    opacity: 0;
    transition: 200ms;
}

.loader-container {
    width: 100px;
    height: 100px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    position: absolute;
}

/* ----------------- *
 * Offline signaling *
 * ----------------- */

.offline {
    box-shadow: 0 0 0 10px #ff8552 inset !important;
    transition: box-shadow 200ms;
}

header::after {
    content: '';
    position: absolute;
    height: 10px;
    width: 100%;
    transform: translateY(-10px);
    background: #ff8552;
    transition: transform 200ms;
}

.offline > header::after {
    content: '';
    position: absolute;
    height: 10px;
    width: 100%;
    background: #ff8552;
    transform: translateY(0px);
    transition: transform 200ms;
}

.offline > nav::after {
    content: 'Offline mode';
}

header > * {
    pointer-events: all;
}

#root > div:not(.loader-container) {
    height: 100%;
    width: 100%;

    box-shadow: 0 0 0 0px #ff8552 inset;
    transition: box-shadow 200ms;
}
